@font-face {
    font-family: ExplosiveAttack;
    src: url(../fonts/eExplosiveAttack.ttf);
}

a, a:hover {
    color: #ba1435;
    text-decoration: none;
}

.index-message {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%
}

.index-message h1 {
    font-size: 5.5em;
    font-family: ExplosiveAttack;
}

.index-message .btn {
    font-size: 18px;
    padding: 12px 18px;
    margin: 0 6px;
    width: 220px;
    border: 1px solid #bbb;
    border-radius: 12px
}

.index-message .btn:hover,
#play-board .btn:hover:not(.popup-skill .btn:hover) {
    background: #f5f5f5
}

.index-message .desc {
    font-size: 20px
}

.index-message .btn.btn-main {
    background: #ba1435;
    color: #fff
}

.index-message .btn.btn-main:hover,
.menang-kalah .content .btn-primary:hover {
    background: #a51331
}

.footer-index {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f9f9f9;
    padding: 15px 20px;
    color: #333;
    border-top: 1px solid #ddd;
    text-align: center
}

#play-board .cell {
    width: 35px;
    height: 35px;
    border: 1px solid black;
}

.cell[disabled] {
    cursor: not-allowed;
}

#play-board .cell:hover:not(#play-board .cell.diposisikan) {
    background-color: #f0f0f0;
    cursor: pointer
}

#play-board .btn:not(.popup-skill .btn) {
    border: 1px solid #ccc;
    margin: 0 5px;
    border-radius: 12px;
    padding: 10px;
    width: 180px
}

.menu-back .back-button {
    color: #333;
    font-weight: bold;
    font-size: 18px
}

.menu-back .back-button span {
    display: inline-block;
    margin-left:18px
}


#play-board .ship {
    border: 1px solid #333;
    overflow: hidden;
    display: flex;
    cursor: pointer;	
}

#play-board .ship:focus {
    cursor: move;
}

#play-board .ship.horizontal {
    height: 35px;
}

#play-board .ship div {
    width: 35px;
    height: 35px;
    display: inline-block;
    border-right: 1px solid #333
}

#play-board .ship div:last-child {
    border-right: none
}

#play-board .ship.vertical {
    width: 35px;
    display: block
}

#play-board .ship.vertical div {
    display: block;
    border-bottom: 1px solid #333
}

#play-board .ship.vertical div:last-child {
    border-bottom: none
}


/* Kapal */
#play-board .ship.horizontal#carrier {
    width: 175px;
}
#play-board .ship.vertical#carrier {
    height: 175px
}

#play-board .ship.horizontal#destroyer {
    width: 105px;
}

#play-board .ship.vertical#destroyer {
    height: 105px
}

#play-board .ship.horizontal#submarine,
#play-board .ship.horizontal#submarine
{
    width: 35px;
    height: 35px
}

#play-board .ship.vertical#submarine {
    height: 35px
}

.cell.diposisikan {
    cursor: not-allowed
}

.bg-selam, .cell.submarine {
    background: var(--bs-primary)
}

.bg-perang, .cell.destroyer {
    background: var(--bs-success)
}

.bg-perang div:first-child {
    background: #14663f
}

.bg-induk, .cell.carrier {
    background: var(--bs-secondary)
}

.bg-induk div:first-child {
    background: #555c63
}



.skill-permainan .items {
    display: flex;
    margin: 8px 0;
    border: 1px solid #ccc;
    padding: 5px 12px;
    align-items: center;
    border-radius: 8px;
    text-align: center;
    color: #333;
    font-weight: bold;
    position: relative;
}

.skill-permainan a,
.skill-permainan a:hover,
.skill-permainan a:focus {
    color: #333;
}

.skill-permainan .items p {
    margin-bottom: 5px;
    margin-left: 6px;
    display: inline-block;
}

.skill-permainan .disabled {
    cursor: not-allowed;
    opacity: 0.08;
}

.skill-permainan .items img {
    width: 40px;
    height: 40px;
}

.skill-permainan .items:first-child {
    margin-left: 0;
}

.skill-permainan small {
    display: inline-block;
    font-size: 12px;
}

.skill-permainan .items span.counter {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    color:#a51331
}


.popup-skill {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    transform: translate(-50%, -50%);
    z-index: 1030;
}

.popup-skill .content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 25px);
    max-width: 500px;
    background: #fff;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 5px #333
}

.menang-kalah {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 500px;
    width: 100%;
}

.menang-kalah .content {
    padding: 10px;
}

.menang-kalah .content img {
    max-width: 280px
}

.menang-kalah .content .btn-primary {
    background: #ba1435;
    padding: 10px;
    width: 160px;
    font-size: 18px;
    border-radius: 12px;
    border: 1px solid #bbb
}